.footer {
  background-color: white;
  text-align: center;
  margin: 0 auto 30px auto;
  border-top: 1px solid #eee;
  padding-top: 30px;
}

.social-media-icon-div {
  display: flex;
  width: 20%;
  margin: 0 auto 15px auto;
  justify-content: space-between;
}
