$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

.navbarbg {
    background-color: #880038;
    height: 55px;
}

.navbarbg a {
    margin-top: -0.21em;
}

.fa-play-circle {
    margin-top: -0.25em;
}

#iconRight {
    display: flex;
    justify-content: space-between;
}

.Logo {
    margin-left: 40px;
}

nav .brand-logo {
    font-weight: bolder;
    font-size: 25px;
}

nav ul li {
    color: #5ed3f1;
}

nav ul {
    font-weight: bolder;
    font-size: 40px;
}

.shift {
    position: fixed;
    right: 35%;
}
