$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$nav-bar: #5ed3f1;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

.navbarbg {
    background-color: #880038;
    height: 60px;
    margin-top: -0.4em;
}

.horizontalbar {
    color: $nav-bar;
}

.fa-play-circle {
    margin-top: -0.25em;
}

#iconRight {
    display: flex;
    justify-content: space-between;
}

.Logo {
    margin-left: 30px;
}

nav .sidenav-trigger {
    float: right !important;
}

.sidenav li {
    color: #5ed3f1 !important;
    position: absolute;
    width: 21px;
    height: 30px;
    left: 1289px;
    top: 8px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
}
